@{
    ViewData["Title"] = "ReDo Previous Order Page";
}


@model PizzaStore.MVC.Models.ReDoAnOrderViewModel

<header class="col-md-12">
    <h3>ReDo your most recent Order</h3>
</header>
<div class="col-md-12">
    <h3>Order Details</h3>

    <div class="form-group">
        <div>
            <h5>----------------------------------------------------</h5>
            <h5>Location: @Model.Po.LocationString, Total Cost: $@Model.Po.OrderValue,</h5>
            @foreach (var ps in Model.Po.PizzaStrings)
            {
                <h5>Pizza: @ps</h5>
            }
        </div>
    </div>
    <form asp-controller="CompleteOrder" method="get">
        <button type="submit">Complete Order</button>
    </form>
</div>

