@{
    ViewData["Title"] = "Home Page";
}

<div class="row">

    <div class="col-md-12">
        <h1> Welcome to Pizza Heaven ! </h1>
    </div>

    @*<form asp-controller="Home" method="post">
        <button type="submit">Make a New Order</button>
    </form>*@

</div>
