@{
    ViewData["Title"] = "Login Page";
}
@model WeatherApp.MVC.Models.LoginViewModel


<div>
    <h3> @ViewData["Title"] </h3>
    <form asp-controller="Login" method="post">
        <h4>Customer Name</h4>
        <div class="form-group">
            <label>Email: </label>
            <input asp-for="Email" autocomplete="off" />
        </div>
        <div class="form-group">
            <label>Password: </label>
            <input asp-for="Password" autocomplete="off" />
        </div>
        <button type="submit">Login to See Weather Data</button>
    </form>
</div>
