<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <!-- <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup> -->
  <appSettings>
    <add key="b2c:Tenant" value="muttlake.onmicrosoft.com" />
    <add key="b2c:ClientId" value="b8762aa3-3e29-4235-b853-082c46395e11" />
    <add key="b2c:ClientSecret" value="58iVUnSUw7Miy5vDvWEpm8f8wTgt4P5Nllfy0S/9a9o=" />
  </appSettings>
</configuration>
