@{
    ViewData["Title"] = "Complete Order Page";
}


@model PizzaStore.MVC.Models.CompleteOrderViewModel

<header class="col-md-12">
    <h3>Complete Your Order</h3>
    <p>@ViewBag.CompleteOrderProblem</p>
</header>
<div class="col-md-12">
    <h3>Order Details</h3>
    <div>
        <h5> Customer:  @Model.GetCustomerName()</h5>
    </div>
    <div>
        <h5> Store Location:  @Model.GetLocationString()</h5>
    </div>
    <h3>Pizza Details</h3>
    <div>
        <h5>----------------------------------------------------</h5>
        @foreach (var po in Model.GetAllPizzasInOrder())
        {
            <div>
                <h5>@po</h5>
            </div>
        }
    </div>
    <div>
        <h5> Total Order Cost:  $@Model.Oh.TotalOrderValue</h5>
    </div>
    <form asp-controller="CompleteOrder" method="post">
        <button type="submit">Submit Your Order</button>
    </form>
    <div>
        <form asp-controller="Pizza" method="get">
            <button type="submit">Add Another Pizza</button>
        </form>
    </div>

</div>

