
@{
    ViewData["Title"] = "CompleteOrder";
}

<h2>CompleteOrder</h2>

<header class="col-md-12">
    <h3>Order</h3>
</header>
<div class="col-md-12">
    <form asp-controller="Order" method="post">
        <h4>Complete the Order</h4>
        <button type="submit">Complete the Order</button>
        <h4>Add more pizzas to your order</h4>
        <button type="submit">Add more pizzas to your order</button>
    </form>
</div>
