@{
    ViewData["Title"] = "Review Order Page";
}


@*@model PizzaStore.MVC.Models.CompleteOrderViewModel*@

<header class="col-md-12">
    <h3>Order Completion</h3>
</header>
<div class="col-md-12">
    <h3>Your Order is Complete!!</h3>
</div>

