@{
    ViewData["Title"] = "Review Order Page";
}


@*@model PizzaStore.MVC.Models.CompleteOrderViewModel*@

<header class="col-md-12">
    <h3>Review Your Order</h3>
</header>
<div class="col-md-12">
    <h3>Order Details</h3>
    <form asp-controller="ReviewOrder" method="post">
        <button type="submit">Complete Order</button>
    </form>
</div>

